{% extends "index.html" %} {% load static%}

{% block content %}

<section id="services" class="services">
  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <h2>Suivi de Projet</h2>
      <p>
        Bienvenue sur notre page de suivi de projet. Ici, nous vous offrons une 
        transparence totale sur l'avancement de nos projets collaboratifs. Grâce à une expertise poussée dans le développement durable et les technologies 
        énergétiques urbaines, nous nous engageons à transformer vos espaces de vie et de travail en environnements éco-responsables. Suivez en temps réel 
        le progrès des interventions et découvrez chaque étape qui nous rapproche de la finalisation de votre pojet.
      </p>
    </div>
  </div>
</section>


<section id="cta" class="cta">
  {% for i in steps %}
  <div class="container" data-aos="zoom-out">
    <div class="content d-flex flex-column justify-content-center order-last order-md-first {% if i > advancement %}inactive{% endif %}">
      <div class="card-body">
        {% if i == advancement %}
        <div class="current-step-msg">
          <div class="btn-step-msg">Votre projet en est à cette étape</div>
        </div>
        
        {% endif %}
        <h4 >{% if i == 1 %}
		{{ constance.CL_T1 }}
	  {% elif i == 2 %}
	  	{{ constance.CL_T2 }}
          {% elif i == 3 %}
	  	{{ constance.CL_T3 }}
          {% elif i == 4 %}
		{{ constance.CL_T4 }}
	  {% elif i == 5 %}
		{{ constance.CL_T5 }}
	  {% elif i == 6 %}
		{{ constance.CL_T6 }}
	  {% endif %}
        </h4>
        <p class="">
          {% if i == 1 %}
	 	{{ constance.CL_D1 }} 
          {% elif i == 2 %}
	  	{{ constance.CL_D2 }}
          {% elif i == 3 %}
	  	{{ constance.CL_D3 }}
          {% elif i == 4 %}
	  	{{ constance.CL_D4 }}
          {% elif i == 5 %}
	  	{{ constance.CL_D5 }}
          {% elif i == 6 %}
	  	{{ constance.CL_D6 }}
          {% endif %}
        </p>
      </div>
    </div>
  </div>
  {% if not forloop.last %}
  <div class="col-12 arrow {% if i > advancement %}inactive-arrow{% endif %}">
    <img src="{% static 'img/la-fleche.png' %}" alt="Flèche vers le bas">
  </div>
  {% endif %}
  {% endfor %}



</section><!-- End Call To Action Section -->



<section id="services" class="services">
  <div class="container" data-aos="fade-up">
    <a href="{% url 'finish_session' %}" class="btn btn-danger">Suivre un autre projet</a>
  </div>
</section>

{% endblock content %}
