
{% extends "index.html" %} {% load widget_tweaks %} {% block content %}

<!-- ======= Team Section ======= -->
<section id="team" class="team">
  <div class="container mt-4" data-aos="fade-up">
    <div class="section-header">
      <h2>Contactez Notre Équipe</h2>
      <p>
        À votre écoute, notre équipe d'experts est prête à vous accompagner dans vos projets d'efficacité énergétique et de diagnostic immobilier. Que ce soit pour une demande de devis, une question technique ou toute autre information, n'hésitez pas à nous contacter. Ensemble, construisons un avenir plus durable.
      </p>
    </div>




    <div class="info mb-5">
      <h3>Prenez contact</h3>    
      <div class="info-item d-flex">
        <i class="bi bi-geo-alt flex-shrink-0"></i>
        <div>
          <h4>Adresse :</h4>
          <p>23 Rue Alfred Nobel, 77420 CHAMPS SUR MARNE</p>
        </div>
      </div><!-- End Info Item -->
    
      <div class="info-item d-flex">
        <i class="bi bi-envelope flex-shrink-0"></i>
        <div>
          <h4>Email :</h4>
          <p><strong>info@be-mev.com</strong>&nbsp;&nbsp;&nbsp;&nbsp;Adresse mail général, pour toute question d’ordre général</p>
          <p><strong>amo@be-mev.com</strong>&nbsp;&nbsp;&nbsp;&nbsp;Pour toute question liée à l’Assistance à maîtrise d’ouvrage</p>
          <p><strong>dtg@be-mev.com</strong>&nbsp;&nbsp;&nbsp;&nbsp;Pour toute question liée au DTG</p>
          <p><strong>facture.mev@be-mev.com</strong>&nbsp;&nbsp;&nbsp;&nbsp;Pour toute question liée à la facturation</p>
          <p><strong>devis@be-mev.com</strong>&nbsp;&nbsp;&nbsp;&nbsp;Pour toute demande de devis</p>
          <p><strong>mar@be-mev.com</strong>&nbsp;&nbsp;&nbsp;&nbsp;Pour toute question liée à Mon Accompagnateur Rénov</p>
        </div>
      </div><!-- End Info Item -->
    
      <div class="info-item d-flex">
        <i class="bi bi-phone flex-shrink-0"></i>
        <div>
          <h4>Téléphone :</h4>
          <p>Tél. : 01 60 33 06 61</p>
        </div>
      </div><!-- End Info Item -->
    
    </div>

  
    <div class="info mb-5">
      <h3 class="mb-3">Envoyez-nous un message</h3>    
    
      {% if messages %}
        <ul class="messages">
          {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    
      <form method="post" class="php-email-form">
        {% csrf_token %}
        <div class="row">
          {{ form.non_field_errors }}
          <div class="col-md-6 form-group">
            {{ form.email.errors }}
            <label for="id_email">Votre email</label>
            {{ form.email|add_class:"form-control" }}
          </div>
          <div class="col-md-6 form-group mt-3 mt-md-0">
            {{ form.nom.errors }}
            <label for="id_nom">Votre nom</label>
            {{ form.nom|add_class:"form-control" }}
          </div>
        </div>
        <div class="form-group mt-3">
          {{ form.pour_email.errors }}
          <label for="id_pour_email">Pour</label>
          {{ form.pour_email|add_class:"form-select" }}
        </div>
        <div class="form-group mt-3">
          {{ form.message.errors }}
          <label for="id_message">Votre message</label>
          {{ form.message|add_class:"form-control" }}
        </div>
        <div class="text-center"><button type="submit" class="btn btn-primary">Envoyer</button></div>
      </form>
    </div>


    <div class="row gy-5">
      <!-- MATTHIEU COFFINET -->
      <div
        class="col-xl-4 col-md-6 d-flex"
        data-aos="zoom-in"
        data-aos-delay="200"
      >
        <div class="info">
          <h3>Matthieu Coffinet</h3>
          <p>
            Pour toute question commerciale ou pour débuter un projet, Matthieu
            est votre premier point de contact.
          </p>
          <div class="info-item d-flex">
            <i class="bi bi-person flex-shrink-0"></i>
            <div>
              <h4>Co-Gérant, Responsable Commercial</h4>
            </div>
          </div>
        </div>
      </div>
      <!-- ALEXANDRE PESIC -->
      <div
        class="col-xl-4 col-md-6 d-flex"
        data-aos="zoom-in"
        data-aos-delay="300"
      >
        <div class="info">
          <h3>Alexandre Pesic</h3>
          <p>
            Contactez Alexandre pour des conseils experts en Assistance à
            Maîtrise d'Ouvrage (AMO).
          </p>
          <div class="info-item d-flex">
            <i class="bi bi-person flex-shrink-0"></i>
            <div>
              <h4>Co-Gérant, Responsable Division AMO</h4>
            </div>
          </div>
        </div>
      </div>
      <!-- JEAN-CHARLES FRA -->
      <div
        class="col-xl-4 col-md-6 d-flex"
        data-aos="zoom-in"
        data-aos-delay="400"
      >
        <div class="info">
          <h3>Jean-Charles Fra</h3>
          <p>
            Spécialiste du Diagnostic Technique Global (DTG), Jean-Charles est à
            votre disposition pour évaluer votre copropriété.
          </p>
          <div class="info-item d-flex">
            <i class="bi bi-person flex-shrink-0"></i>
            <div>
              <h4>Co-Gérant, Responsable DTG</h4>
            </div>
          </div>
        </div>
      </div>
      <!-- JEROME LEBASNIER -->
      <div
        class="col-xl-4 col-md-6 d-flex"
        data-aos="zoom-in"
        data-aos-delay="500"
      >
        <div class="info">
          <h3>Jérôme Lebasnier</h3>
          <p>
            Jérôme est votre référent pour les audits énergétiques, vous aidant
            à optimiser la performance énergétique de vos bâtiments.
          </p>
          <div class="info-item d-flex">
            <i class="bi bi-person flex-shrink-0"></i>
            <div>
              <h4>Co-Gérant, Responsable Audit Énergétique</h4>
            </div>
          </div>
        </div>
      </div>
      <!-- AXEL BRUZZESE -->
      <div
        class="col-xl-4 col-md-6 d-flex"
        data-aos="zoom-in"
        data-aos-delay="600"
      >
        <div class="info">
          <h3>Axel Bruzzese</h3>
          <p>
            Axel, avec son expertise en thermique, est le référent pour
            l'optimisation énergétique et les études thermiques détaillées.
          </p>
          <div class="info-item d-flex">
            <i class="bi bi-person flex-shrink-0"></i>
            <div>
              <h4>Auditeur Senior, Référent Expert Thermique et veille réglementaire</h4>
            </div>
          </div>
        </div>
      </div>
      <!-- SAVERIA PASCAL -->
      <div
        class="col-xl-4 col-md-6 d-flex"
        data-aos="zoom-in"
        data-aos-delay="700"
      >
        <div class="info">
          <h3>Saveria Pascal</h3>
          <p>
            Responsable des dossiers AMO, Saveria vous accompagne dans la
            coordination et la réalisation de vos projets.
          </p>
          <div class="info-item d-flex">
            <i class="bi bi-person flex-shrink-0"></i>
            <div>
              <h4>Collaboratrice en charge des dossiers AMO</h4>
            </div>
          </div>
        </div>
      </div>
      <!-- LEA MEDEIROS -->
      <div
        class="col-xl-4 col-md-6 d-flex"
        data-aos="zoom-in"
        data-aos-delay="800"
      >
        <div class="info">
          <h3>Léa Medeiros</h3>
          <p>
            Léa est à votre service pour la gestion des dossiers IF, assurant le
            suivi et la qualité de votre dossier de financement.
          </p>
          <div class="info-item d-flex">
            <i class="bi bi-person flex-shrink-0"></i>
            <div>
              <h4>Collaboratrice en charge des dossiers IF</h4>
            </div>
          </div>
        </div>
      </div>
      <!-- STEPHANE SAINT-CHARLES -->
      <div
        class="col-xl-4 col-md-6 d-flex"
        data-aos="zoom-in"
        data-aos-delay="900"
      >
        <div class="info">
          <h3>Stéphane Saint-Charles</h3>
          <p>
            Stéphane, auditeur junior, participe aux audits et études
            énergétiques, apportant un regard neuf et des solutions innovantes.
          </p>
          <div class="info-item d-flex">
            <i class="bi bi-person flex-shrink-0"></i>
            <div>
              <h4>Auditeur Junior</h4>
            </div>
          </div>
        </div>
      </div>
      <!-- CAMILLE GENNARDI -->
      <div
        class="col-xl-4 col-md-6 d-flex"
        data-aos="zoom-in"
        data-aos-delay="1000"
      >
        <div class="info">
          <h3>Camille Gennardi</h3>
          <p>
            Camille, également auditeur junior, contribue à la réalisation des
            audits, soutenant l'équipe avec diligence et précision.
          </p>
          <div class="info-item d-flex">
            <i class="bi bi-person flex-shrink-0"></i>
            <div>
              <h4>Auditeur Junior</h4>
            </div>
          </div>
        </div>
      </div>
      <!-- DJANA -->
      <div
        class="col-xl-4 col-md-6 d-flex"
        data-aos="zoom-in"
        data-aos-delay="1100"
      >
        <div class="info">
          <h3>Djana</h3>
          <p>
            Djana, alternante, apporte son soutien à l'équipe en se formant aux
            différentes facettes de l'audit énergétique et du diagnostic.
          </p>
          <div class="info-item d-flex">
            <i class="bi bi-person flex-shrink-0"></i>
            <div>
              <h4>Alternante</h4>
            </div>
          </div>
        </div>
      </div>

      <!-- Additional members can be added following the same structure -->
    </div>
  </div>
</section>
<!-- End Team Section -->

{% endblock content %}
