{% extends "index_form.html" %}
{% block content %}
<div class="container mt-10">
    <h2>Documents Complémentaires pour la Campagne: {{ campagne.nom }}</h2>
    {% for form_data in formulaires %}
    <div class="formulaire" id="formulaire-{{ form_data.formulaire.id }}">
        <h5>Formulaire: {{ form_data.formulaire.nom }}</h5>
        <p>Identifié par: {{ form_data.formulaire.identification.nom }} {{ form_data.formulaire.identification.prenom }}</p>
        <div class="documents">
            {% if form_data.docs %}
            <ul>
                {% for doc in form_data.docs %}
                <li>
                    <a href="{% url 'download_file' file_key=doc.name %}" download="{{ doc.name }}">{{ doc.name }}</a>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <p>Aucun document complémentaire disponible.</p>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
