{% extends "index_form.html" %}
{% load static %}


{% block content %}
<!-- Conteneur de notification -->


    
<!-- ======= Featured Services Section ======= -->
<section id="form-okok" class="form-okok">
  <div class="container mt-4">
      <div class="section-header text-center mb-5">
          <h2>Interface de création de formulaire</h2>
      </div>

      <!-- Formulaires Type -->
      <div class="mb-4">
          <h4>Formulaires Type</h4>
          <p>Les formulaires déjà faits qui servent de base</p>
          <ul class="list-group">
              {% for form in forms_true %}
              <li class="list-group-item d-flex justify-content-between align-items-center">
                  {{ form.nom }}
                  <div>
                      <form action="{% url 'delete-form' form.id %}" method="post" style="display: inline;">
                          {% csrf_token %}
                          <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure?');">Supprimer</button>
                          <a href="{% url 'download_qr' form.id %}" class="btn btn-secondary btn-sm">Télécharger QR code</a>
                          <a href="{% url 'download_pdf' form.id %}" class="btn btn-primary btn-sm">Télécharger PDF</a>

                          <a href="{% url 'download_docx' form.id %}" class="btn btn-success btn-sm">Télécharger le docx</a>
                      </form>
                  </div>
              </li>
              {% endfor %}
          </ul>
      </div>

      <!-- Les autres -->
      <div>
          <h4>Les autres</h4>
          <p>Les formulaires de campagnes</p>
          <ul class="list-group">
              {% for form in forms_false %}
              <li class="list-group-item d-flex justify-content-between align-items-center">
                  {{ form.nom }} - <p> https://be-mev.com/admin_form/init-formulaire/{{form.id }}</p>
                  <div>
                      <form action="{% url 'delete-form' form.id %}" method="post" style="display: inline;">
                          {% csrf_token %}
                          <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure?');">Supprimer</button>
                          <a href="{% url 'download_qr' form.id %}" class="btn btn-secondary btn-sm">Télécharger QR code</a>
                          <a href="{% url 'download_pdf' form.id %}" class="btn btn-primary btn-sm">Télécharger PDF</a>
                          <a href="{% url 'download_docx' form.id %}" class="btn btn-success btn-sm">Télécharger le docx</a>
                      </form>
                  </div>
              </li>
              {% endfor %}
          </ul>
      </div>

      <!-- Navigation Links -->
      <div class="mt-4">
          <a href="{% url 'create_formulaire' %}" class="btn btn-info">Création de formulaire</a>
          <a href="{% url 'create_campagne' %}" class="btn btn-info">Création de campagne</a>
          <a href="{% url 'campagne_list' %}" class="btn btn-info">Voir toutes les campagnes</a>
          <a href="{% url 'download_documents' %}" class="btn btn-info">Documents complementaire</a>
      </div>
  </div>
</section>
<!-- End Featured Services Section -->

    

        
    {% endblock content %}
{% block script %}

<script>
    function copyToClipboard(url) {
        navigator.clipboard.writeText(url).then(() => {
            alert('Lien copié dans le presse-papier!');
        }).catch(err => {
            console.error('Erreur lors de la copie:', err);
        });
    }
    </script>
{% endblock %}