


{% extends "index.html" %} {% load static %} {% block content %}


<section id="features" class="features">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h2>Mon Accompagnateur Rénov'</h2>
      </div>
      <div class="tab-pane" >
        <div class="row gy-4">
          <div class="col-lg-8 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="100">
            <h3>Qu'est-ce que "Mon Accompagnateur Rénov'" ?</h2>
            <ul>
              <li><i class="bi bi-check"></i>Un service personnalisé d'accompagnement pour vos projets de rénovation énergétique.</li>
              <li><i class="bi bi-check"></i>Conseils d'experts pour optimiser vos travaux et maximiser les économies d'énergie.</li>
              <li><i class="bi bi-check"></i>Assistance à chaque étape, de la conception du projet à la réalisation des travaux.</li>
            </ul>
            
            <h3>Objectifs de "Mon Accompagnateur Rénov'"</h3>
            <ul>
              <li><i class="bi bi-check"></i>Faciliter votre parcours de rénovation énergétique.</li>
              <li><i class="bi bi-check"></i>Garantir l'efficacité et la qualité des travaux réalisés.</li>
              <li><i class="bi bi-check"></i>Vous aider à obtenir les aides financières disponibles pour votre projet.</li>
            </ul>
            
            <h3>Services Proposés</h3>
            <ul>
              <li><i class="bi bi-check"></i>Diagnostic initial de votre logement pour identifier les meilleurs leviers d'amélioration énergétique.</li>
              <li><i class="bi bi-check"></i>Élaboration d'un plan de rénovation personnalisé, adapté à vos besoins et à votre budget.</li>
              <li><i class="bi bi-check"></i>Sélection des artisans qualifiés et suivi du chantier jusqu'à achèvement.</li>
            </ul>
            
            <h3>Pourquoi choisir "Mon Accompagnateur Rénov'" ?</h3>
            <ul>
              <li><i class="bi bi-check"></i>Expertise et neutralité : conseils objectifs basés uniquement sur vos intérêts.</li>
              <li><i class="bi bi-check"></i>Gain de temps : gestion simplifiée de votre projet de A à Z.</li>
              <li><i class="bi bi-check"></i>Sécurité : assurance d'une réalisation conforme aux standards d'efficacité énergétique.</li>
            </ul>
            
            <h3>Bénéfices de la renovation énergétique</h3>
            <ul>
              <li><i class="bi bi-check"></i>Amélioration du confort de votre domicile été comme hiver.</li>
              <li><i class="bi bi-check"></i>Réduction significative de vos factures énergétiques.</li>
              <li><i class="bi bi-check"></i>Valorisation de votre patrimoine immobilier.</li>
            </ul>
            
            <h3>Comment ça marche ?</h3>
            <ul>
              <li><i class="bi bi-check"></i>1 : Audit : analyse de la situation existante et définition de vos objectifs.</li>
              <li><i class="bi bi-check"></i>2: Planification : création d'un plan de rénovation sur mesure.</li>
              <li><i class="bi bi-check"></i>3: Réalisation : accompagnement dans le choix des artisans et suivi des travaux.</li>
              <li><i class="bi bi-check"></i>4: Finalisation : réception des travaux et vérification de la qualité.</li>
            </ul>

            <h3>Engagez-vous dans la rénovation énergétique</h3>
            <ul>
              <li><i class="bi bi-check"></i>Rejoignez les milliers de propriétaires qui ont déjà bénéficié de conseils personnalisés pour transformer leur logement.</li>
              <li><i class="bi bi-check"></i>Contribuez à la transition énergétique en réduisant l'empreinte environnementale de votre habitation.</li>
            </ul>
          <p>Prêt à démarrer votre projet de rénovation énergétique ? Contactez-nous pour en savoir plus sur "Mon Accompagnateur Rénov'".</p>
          </div>
          <div class="col-lg-4 order-1 order-lg-2 text-center my-4 d-flex align-items-center " data-aos="fade-up">
              <img src="{% static 'img/presta/renove.webp' %}" alt="" class="img-fluid mx-auto rounded-3 shadow" style="max-height: 100%;">
          </div>
        </div>
      </div>
      <!-- Vous pouvez répéter la structure ci-dessus pour d'autres contenus ou services si nécessaire -->
    </div>
  </section><!-- End Features Section -->
  {% endblock content %}
  