


  {% extends "index.html" %} {% load static %} {% block content %}


<section id="features" class="features">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h2>Assistance à Maîtrise d'Ouvrage (AMO)</h2>
        <p>Un service d'accompagnement complet pour les projets de rénovation énergétique de copropriétés.</p>
      </div>
      <div class="tab-pane">
        <div class="row gy-4">
          <div class="col-lg-8 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="100">
          
            <h3>Qu'est-ce que l'AMO ?</h3>
            <ul>
              <li><i class="bi bi-check"></i>L'acteur central de tout projet de rénovation énergétique, interlocuteur technique, financier et administratif.</li>
              <li><i class="bi bi-check"></i>Interface entre le maître d'ouvrage et les différents acteurs du projet (architectes, entreprises de travaux, organismes de subventions, banques...).</li>
              <li><i class="bi bi-check"></i>Conseils d'experts pour garantir la réussite de votre projet de rénovation énergétique.</li>
            </ul>
            <h3>Objectifs de l'AMO</h3>
            <ul>
              <li><i class="bi bi-check"></i>Clarifier les besoins et définir le projet de rénovation.</li>
              <li><i class="bi bi-check"></i>Assurer le respect du phasage du projet, valider les grandes étapes et assurer la bonne communication entre les différents acteurs.</li>
              <li><i class="bi bi-check"></i>Optimiser les performances techniques et énergétiques du bâtiment.</li>
            </ul>
            <h3>Missions de l'AMO</h3>
            <ul>
              <li><i class="bi bi-check"></i>Aide à la définition du projet : étude de faisabilité, programmation, définition des scénarios de rénovation énergétiques.</li>
              <li><i class="bi bi-check"></i>Présentation des acteurs, sélection et coordination des intervenants avant les travaux.</li>
              <li><i class="bi bi-check"></i>Analyse technique et financière des solutions retenues par la maîtrise d’ouvrage.</li>
              <li><i class="bi bi-check"></i>Accompagnement et aide à la décision pour la réalisation des travaux, identification des subventions, présentation des solutions de financement.</li>
              <li><i class="bi bi-check"></i>Suivi de l'avancement des travaux.</li>
              <li><i class="bi bi-check"></i>Contrôle de la conformité et de la qualité des réalisations.</li>
              <li><i class="bi bi-check"></i>Assistance lors des réceptions des ouvrages.</li>
            </ul>
            <h3>Intérêts de l'AMO</h3>
            <ul>
              <li><i class="bi bi-check"></i>Expertise et conseil neutre et objectif.</li>
              <li><i class="bi bi-check"></i>Gestion optimisée des risques projet.</li>
              <li><i class="bi bi-check"></i>Gain de temps et économie financière.</li>
              <li><i class="bi bi-check"></i>Sécurisation de votre investissement.</li>
              <li><i class="bi bi-check"></i>Valorisation de votre patrimoine.</li>
            </ul>
            <h3>Étapes clés de l'AMO</h3>
            <ul>
              <li><i class="bi bi-check"></i>Étude de faisabilité : Évaluation technique, financière et réglementaire.</li>
              <li><i class="bi bi-check"></i>Programmation : Définition précise des objectifs et des besoins.</li>
              <li><i class="bi bi-check"></i>Conception : Accompagnement dans le choix des solutions techniques et architecturales.</li>
              <li><i class="bi bi-check"></i>Réalisation : Suivi de chantier, gestion des contrats et des coûts.</li>
              <li><i class="bi bi-check"></i>Réception : Validation de la conformité des travaux avant livraison.</li>
            </ul>
            <p>Votre projet en mains sûres avec notre équipe d'experts. Une approche personnalisée pour répondre à vos attentes spécifiques et un engagement pour la réussite de votre projet, de l'idée à la réalisation.</p>
            <p>Intéressé par notre service d'AMO ? Contactez-nous pour une consultation.</p>
          </div>
          <div class="col-lg-4 order-1 order-lg-2 text-center my-4 d-flex align-items-center" data-aos="fade-up">
            <img src="{% static 'img/presta/amo.webp' %}" alt="" class="img-fluid mx-auto rounded-3 shadow" style="max-height: 100%;">
          </div>
        </div>
      </div>
      
      <!-- Vous pouvez répéter la structure ci-dessus pour d'autres contenus ou services si nécessaire -->
    </div>
  </section><!-- End Features Section -->
  {% endblock content %}
  