{% extends "index.html" %} {% load static %} {% block content %}


<section id="features" class="features">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h2>Diagnostic Technique Global (DTG)</h2>
        <p>Un aperçu sur le contenu et la pertinence du DTG pour l'entretien et l'amélioration de votre immeuble.</p>
      </div>
      <div class="tab-pane" >
        <div class="row gy-4">
          <div class="col-lg-8 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="100">
            <h3>Qu'est-ce que le DTG ?</h3>
            <p>Le Diagnostic Technique Global offre une évaluation approfondie de l'état du bâti, incluant :</p>
            <ul>
              <li><i class="bi bi-check"></i>Analyse des parties communes et des équipements de l'immeuble.</li>
              <li><i class="bi bi-check"></i>Visite d’un panel d'appartements de la copropriété.</li>
              <li><i class="bi bi-check"></i>Identification des travaux nécessaires pour la préservation de l'immeuble sur le long terme.</li>
            </ul>
            <h3>Pourquoi réaliser un DTG ?</h3>
            <ul>
              <li><i class="bi bi-check"></i>Anticiper les gros travaux et les répartitions de coûts.</li>
              <li><i class="bi bi-check"></i>Améliorer la performance énergétique du bâtiment.</li>
              <li><i class="bi bi-check"></i>Se mettre en conformité avec la réglementation en vigueur pour les copropriétés.</li>
            </ul>
            <h3>Contenu du DTG</h3>
            <ul>
              <li><i class="bi bi-check"></i>Analyse technique du bâtiment.</li>
              <li><i class="bi bi-check"></i>État des parties communes et privatives.</li>
              <li><i class="bi bi-check"></i>Diagnostic de performance énergétique (DPE) ou audit énergétique.</li>
              <li><i class="bi bi-check"></i>Plan de travaux sur 10 ans pour la conservation de l'immeuble et l'amélioration de la performance énergétique.</li>
            </ul>
            <h3>Bénéfices du DTG</h3>
            <ul>
              <li><i class="bi bi-check"></i>Vision claire de l'état actuel de l'immeuble.</li>
              <li><i class="bi bi-check"></i>Identification des priorités de travaux et des échéances à venir</li>
              <li><i class="bi bi-check"></i>Planification financière facilitée pour les copropriétaires.</li>
              <li><i class="bi bi-check"></i>Valorisation du patrimoine immobilier.</li>
            </ul>
            <h3>Procédure du DTG</h3>
            <ul>
              <li><i class="bi bi-check"></i>Réalisé par un professionnel qualifié.</li>
              <li><i class="bi bi-check"></i>Inspection sur place des parties communes, équipements collectifs et parties privatives.</li>
              <li><i class="bi bi-check"></i>Rapport détaillé remis à la copropriété.</li>
            </ul>
            <p>Le DTG est obligatoire pour certaines copropriétés et doit être présenté en assemblée générale pour décision sur les travaux à prioriser.</p>
            <h3>Prochaines Étapes</h3>
            <ul>
              <li><i class="bi bi-check"></i>Consultation d'un professionnel pour réaliser le DTG.</li>
              <li><i class="bi bi-check"></i>Préparation des documents nécessaires (plans, précédents diagnostics, etc.).</li>
              <li><i class="bi bi-check"></i>Réunion de lancement préalable à la visite sur site.</li>
              <li><i class="bi bi-check"></i>Réalisation des études et production des livrables.</li>
              <li><i class="bi bi-check"></i>Présentation du DTG. en assemblée générale.</li>

            </ul>
            <p>Pour plus d'informations ou pour planifier votre DTG, contactez-nous.</p>
          </div>
          <div class="col-lg-4 order-1 order-lg-2 text-center my-4 d-flex align-items-center " data-aos="fade-up">
              <img src="{% static 'img/presta/dgt.webp' %}" alt="" class="img-fluid mx-auto rounded-3 shadow" style="max-height: 100%;">
          </div>
        </div>
      </div>
      <!-- Vous pouvez répéter la structure ci-dessus pour d'autres contenus ou services si nécessaire -->
    </div>
  </section><!-- End Features Section -->
  {% endblock content %}
  