{% extends "index.html" %} {% load static %} {% block content %}

<section id="features" class="features">
  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <h2>Bilan Carbone : Évaluez et Réduisez Votre Empreinte Carbone</h2>
    </div>
    <div class="tab-pane">
      <div class="row gy-4">
        <div
          class="col-lg-8 order-2 order-lg-1"
          data-aos="fade-up"
          data-aos-delay="100"
        >
          <h3>Qu'est-ce qu'un Bilan Carbone ?</h3>
          <ul>
            <li>
              <i class="bi bi-check"></i>Une analyse approfondie des émissions
              de gaz à effet de serre générées par votre entreprise ou bâtiment,
              directement et indirectement.
            </li>
            <li>
              <i class="bi bi-check"></i>Évaluation des sources principales
              d'émissions pour déterminer les domaines d'action prioritaires.
            </li>
          </ul>

          <h3>Objectifs du Bilan Carbone</h3>
          <ul>
            <li>
              <i class="bi bi-check"></i>Quantifier l'empreinte carbone globale
              et par poste de votre activité.
            </li>
            <li>
              <i class="bi bi-check"></i>Identifier les leviers d'action pour
              réduire vos émissions de CO2 et autres gaz à effet de serre.
            </li>
            <li>
              <i class="bi bi-check"></i>Engager votre entreprise dans une
              démarche de développement durable et de responsabilité
              environnementale.
            </li>
          </ul>

          <h3>Bénéfices du Bilan Carbone</h3>
          <ul>
            <li>
              <i class="bi bi-check"></i>Contribution à la lutte contre le
              changement climatique par la réduction des émissions.
            </li>
            <li>
              <i class="bi bi-check"></i>Amélioration de l'image de marque et de
              la compétitivité de l'entreprise.
            </li>
            <li>
              <i class="bi bi-check"></i>Identification d'économies potentielles
              grâce à une meilleure efficacité énergétique et l'utilisation de
              ressources durables.
            </li>
          </ul>

          <h3>Éléments analysés</h3>
          <ul>
            <li>
              <i class="bi bi-check"></i>Émissions liées à l'énergie consommée
              (électricité, chauffage, transport).
            </li>
            <li>
              <i class="bi bi-check"></i>Émissions indirectes associées à la
              production de biens et services consommés.
            </li>
            <li>
              <i class="bi bi-check"></i>Pratiques de gestion des déchets et
              utilisation des ressources.
            </li>
          </ul>

          <h3>Processus du Bilan Carbone</h3>
          <ul>
            <li>
              <i class="bi bi-check"></i>Collecte de données : relevés
              d'activités, consommations d'énergie, données de transport, etc.
            </li>
            <li>
              <i class="bi bi-check"></i>Analyse : calcul des émissions de gaz à
              effet de serre, identification des postes majeurs d'émissions.
            </li>
            <li>
              <i class="bi bi-check"></i>Rapport : synthèse des résultats,
              recommandations stratégiques pour réduire l'empreinte carbone.
            </li>
          </ul>

          <h3>Pourquoi choisir notre service ?</h3>
          <ul>
            <li>
              <i class="bi bi-check"></i>Expertise reconnue dans l'évaluation et
              la réduction des émissions de carbone.
            </li>
            <li>
              <i class="bi bi-check"></i>Conseils adaptés à votre réalité
              d'affaires pour une stratégie environnementale efficace.
            </li>
            <li>
              <i class="bi bi-check"></i>Support dans la mise en œuvre des
              actions de réduction pour assurer un impact réel.
            </li>
          </ul>

          <h3>Votre Partenaire pour la Responsabilité Environnementale</h3>
          <ul>
            <li>
              <i class="bi bi-check"></i>Agissez maintenant pour un avenir
              durable en réduisant votre impact environnemental.
            </li>
            <li>
              <i class="bi bi-check"></i>Montrez l'exemple en adoptant des
              pratiques éco-responsables et en encourageant le changement.
            </li>
          </ul>

          <p>
            Prêt à évaluer et à réduire votre empreinte carbone ? Contactez-nous
            pour découvrir comment nous pouvons vous aider dans cette démarche
            essentielle pour la planète.
          </p>
        </div>
        <div
          class="col-lg-4 order-1 order-lg-2 text-center my-4 d-flex align-items-center"
          data-aos="fade-up"
        >
          <img
            src="{% static 'img/presta/bilan.webp' %}"
            alt=""
            class="img-fluid mx-auto rounded-3 shadow"
            style="max-height: 100%"
          />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Features Section -->
{% endblock content %}
