


{% extends "index.html" %} {% load static %} {% block content %}


<section id="features" class="features">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h2>Audit Énergétique : Votre Parcours vers l'Efficacité Énergétique</h2>
      </div>
      <div class="tab-pane" >
        <div class="row gy-4">
          <div class="col-lg-8 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="100">
            <h3>Qu'est-ce qu'un Audit Énergétique ?</h3>
            <ul>
              <li><i class="bi bi-check"></i>Évaluation complète de la performance énergétique de votre résidence.</li>
              <li><i class="bi bi-check"></i>Identification précise des points sensibles et priorités d'amélioration.</li>
              <li><i class="bi bi-check"></i>Définition du profil thermique de l’immeuble.</li>
              <li><i class="bi bi-check"></i>Recommandations détaillées pour réduire la consommation d'énergie et les émissions de CO2.</li>
            </ul>
            
            <h3>Objectifs de l'Audit Énergétique</h3>
            <ul>
              <li><i class="bi bi-check"></i>Comprendre comment et où l'énergie est utilisée dans votre bâtiment.</li>
              <li><i class="bi bi-check"></i>Détecter les inefficacités énergétiques et les déperditions thermiques.</li>
              <li><i class="bi bi-check"></i>Proposer des solutions concrètes pour améliorer la performance énergétique.</li>
            </ul>
            
            <h3>Éléments analysés lors de l'Audit</h3>
            <ul>
              <li><i class="bi bi-check"></i>Qualité de l'enveloppe du bâtiment et ponts thermiques.</li>
              <li><i class="bi bi-check"></i>Performance des systèmes de chauffage, de refroidissement, et de ventilation.</li>
              <li><i class="bi bi-check"></i>Isolation thermique des murs, toits, planchers et menuiseries.</li>
              <li><i class="bi bi-check"></i>Confort d’été, confort d’hiver, humidité et qualité de vie.</li>
            </ul>
            
            <h3>Pourquoi réaliser un Audit Énergétique ?</h3>
            <ul>
              <li><i class="bi bi-check"></i>Obligation légale pour certaines copropriétés et bénéfique pour toutes.</li>
              <li><i class="bi bi-check"></i>Améliorer son confort de vie, entretenir son patrimoine.</li>
              <li><i class="bi bi-check"></i>Potentiel significatif d'économies sur les factures d'énergie.</li>
              <li><i class="bi bi-check"></i>Contribution à la lutte contre le changement climatique par la réduction de l'empreinte carbone.</li>
            </ul>
            
            <h3>Bénéfices de l'Audit Énergétique</h3>
            <ul>
              <li><i class="bi bi-check"></i>Plan d'action personnalisé pour optimiser votre consommation d'énergie.</li>
              <li><i class="bi bi-check"></i>Augmentation du confort intérieur grâce à une meilleure régulation thermique.</li>
              <li><i class="bi bi-check"></i>Valorisation de votre bien immobilier.</li>
            </ul>
            
            <h3>Déroulement de l'Audit Énergétique</h3>
            <ul>
              <li><i class="bi bi-check"></i>Préparation : Collecte des données énergétiques historiques et analyse préliminaire.</li>
              <li><i class="bi bi-check"></i>Visite sur site : Inspection physique des installations et mesures spécifiques.</li>
              <li><i class="bi bi-check"></i>Rapport d'audit : Présentation des résultats, des recommandations et du plan d'action.</li>
            </ul>
            
            <h3>Votre engagement pour l'efficacité énergétique</h3>
            <ul>
              <li><i class="bi bi-check"></i>Prenez une longueur d'avance en optimisant l'usage de l'énergie.</li>
              <li><i class="bi bi-check"></i>Réalisez des économies substantielles tout en améliorant le confort de votre espace.</li>
              <li><i class="bi bi-check"></i>Contribuez activement à la protection de l'environnement.</li>
            </ul>
            <p>Intéressé par un audit énergétique ? Contactez-nous pour démarrer votre projet d'amélioration énergétique.</p>
          </div>
          
          <div class="col-lg-4 order-1 order-lg-2 text-center my-4 d-flex align-items-center " data-aos="fade-up">
              <img src="{% static 'img/presta/audit.webp' %}" alt="" class="img-fluid mx-auto rounded-3 shadow" style="max-height: 100%;">
          </div>
        </div>
      </div>
      <!-- Vous pouvez répéter la structure ci-dessus pour d'autres contenus ou services si nécessaire -->
    </div>
  </section><!-- End Features Section -->
  {% endblock content %}
  