


{% extends "index.html" %} {% load static %} {% block content %}


<section id="features" class="features">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h2>Audit Énergétique Réglementaire : Conformité et Performance</h2>
      </div>
      <div class="tab-pane" >
        <div class="row gy-4">
          <div class="col-lg-8 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="100">
                <h3>Qu'est-ce qu'un Audit Énergétique Réglementaire ?</h3>
                <ul>
                <li><i class="bi bi-check"></i>Un examen obligatoire pour certaines entreprises visant à évaluer la consommation d'énergie des bâtiments, des procédés industriels et des installations de transport.</li>
                <li><i class="bi bi-check"></i>Identifie les mesures permettant d'améliorer l'efficacité énergétique et de réduire les coûts opérationnels.</li>
                </ul>

                <h3>Objectifs de l'Audit Énergétique Réglementaire</h3>
                <ul>
                <li><i class="bi bi-check"></i>Répondre aux exigences légales en matière d'efficacité énergétique.</li>
                <li><i class="bi bi-check"></i>Détecter les économies d'énergie réalisables à court, moyen et long terme.</li>
                <li><i class="bi bi-check"></i>Contribuer à la stratégie globale de développement durable de l'entreprise.</li>
                </ul>

                <h3>Qui est concerné ?</h3>
                <ul>
                <li><i class="bi bi-check"></i>Entreprises de plus de 250 employés ou dont le chiffre d'affaires excède un certain seuil.</li>
                <li><i class="bi bi-check"></i>Entités ayant une consommation énergétique significative.</li>
                </ul>

                <h3>Avantages de l'Audit Énergétique Réglementaire</h3>
                <ul>
                <li><i class="bi bi-check"></i>Identification des gisements d'économies d'énergie non exploités.</li>
                <li><i class="bi bi-check"></i>Réduction de l'empreinte carbone de l'entreprise.</li>
                <li><i class="bi bi-check"></i>Amélioration de la compétitivité grâce à la diminution des coûts énergétiques.</li>
                </ul>

                <h3>Déroulement de l'Audit</h3>
                <ul>
                <li><i class="bi bi-check"></i>Pré-audit : Collecte de données énergétiques et analyse préliminaire.</li>
                <li><i class="bi bi-check"></i>Audit sur site : Évaluation détaillée des processus, des bâtiments et des transports.</li>
                <li><i class="bi bi-check"></i>Rapport d'audit : Présentation des résultats, recommandations d'améliorations et plan d'action.</li>
                </ul>

                <h3>Réglementation et Conformité</h3>
                <ul>
                <li><i class="bi bi-check"></i>L'audit doit être réalisé tous les quatre ans par des auditeurs certifiés.</li>
                <li><i class="bi bi-check"></i>Les entreprises doivent se conformer aux normes nationales et européennes en vigueur.</li>
                </ul>

                <h3>Pourquoi choisir notre service d'audit ?</h3>
                <ul>
                <li><i class="bi bi-check"></i>Expertise technique approfondie et connaissance de la réglementation.</li>
                <li><i class="bi bi-check"></i>Approche personnalisée pour maximiser les bénéfices de l'audit.</li>
                <li><i class="bi bi-check"></i>Accompagnement dans la mise en œuvre des recommandations.</li>
                </ul>

                <h3>Engagement envers l'Efficacité Énergétique</h3>
                <ul>
                <li><i class="bi bi-check"></i>Notre mission est de vous aider à naviguer les exigences réglementaires tout en optimisant votre consommation énergétique.</li>
                <li><i class="bi bi-check"></i>Transformez les obligations légales en opportunités d'amélioration pour votre entreprise.</li>
                </ul>

          <p>Intéressé par un audit énergétique réglementaire ? Contactez-nous pour planifier votre audit et garantir la conformité et l'efficacité de votre entreprise.</p>
          </div>
          <div class="col-lg-4 order-1 order-lg-2 text-center my-4 d-flex align-items-center " data-aos="fade-up">
              <img src="{% static 'img/presta/renove.webp' %}" alt="" class="img-fluid mx-auto rounded-3 shadow" style="max-height: 100%;">
          </div>
        </div>
      </div>
      <!-- Vous pouvez répéter la structure ci-dessus pour d'autres contenus ou services si nécessaire -->
    </div>
  </section><!-- End Features Section -->
  {% endblock content %}
  