


{% extends "index.html" %} {% load static %} {% block content %}


<section id="features" class="features">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h2>Diagnostic de Performance Énergétique (DPE) Collectif : Vers une Meilleure Efficacité Énergétique</h2>
      </div>
      <div class="tab-pane" >
        <div class="row gy-4">
          <div class="col-lg-8 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="100">
            <h3>Qu'est-ce que le DPE Collectif ?</h3>
            <ul>
              <li><i class="bi bi-check"></i>Un diagnostic réalisé pour les bâtiments à usage principal d'habitation comprenant plusieurs logements.</li>
              <li><i class="bi bi-check"></i>Évalue la performance énergétique de l'ensemble du bâti et des systèmes communs.</li>
              <li><i class="bi bi-check"></i>Permet d'identifier les économies d'énergie potentielles à l'échelle de la copropriété.</li>
            </ul>
            
            <h3>Objectifs du DPE Collectif</h3>
            <ul>
              <li><i class="bi bi-check"></i>Informer les copropriétaires sur la consommation énergétique globale et les émissions de gaz à effet de serre.</li>
              <li><i class="bi bi-check"></i>Proposer des recommandations pour améliorer l'efficacité énergétique.</li>
              <li><i class="bi bi-check"></i>Contribuer à la valorisation du patrimoine immobilier et à la réduction des charges énergétiques.</li>
            </ul>
            
            <h3>Contenu du DPE Collectif</h3>
            <ul>
              <li><i class="bi bi-check"></i>Analyse des caractéristiques thermiques et des équipements du bâtiment (chauffage, eau chaude sanitaire, ventilation).</li>
              <li><i class="bi bi-check"></i>Calcul de la consommation énergétique annuelle et classification du bâtiment (étiquettes énergie et climat).</li>
              <li><i class="bi bi-check"></i>Recommandations de travaux pour améliorer la performance énergétique, avec estimation des coûts et des économies potentielles.</li>
            </ul>
            
            <h3>Pourquoi réaliser un DPE Collectif ?</h3>
            <ul>
              <li><i class="bi bi-check"></i>Obligatoire pour toutes les copropriétés de plus de 50 lots avec un chauffage collectif.</li>
              <li><i class="bi bi-check"></i>Essentiel pour prendre des décisions éclairées lors des assemblées générales de copropriétaires.</li>
              <li><i class="bi bi-check"></i>Une étape vers la transition énergétique et l'écologie urbaine.</li>
            </ul>
            
            <h3>Bénéfices du DPE Collectif</h3>
            <ul>
              <li><i class="bi bi-check"></i>Connaissance précise de la performance énergétique de votre copropriété.</li>
              <li><i class="bi bi-check"></i>Identification des actions prioritaires pour réduire la consommation d'énergie.</li>
              <li><i class="bi bi-check"></i>Amélioration du confort des habitants et réduction de l'empreinte écologique.</li>
            </ul>
            
            <h3>Procédure du DPE Collectif</h3>
            <ul>
              <li><i class="bi bi-check"></i>Réalisé par un diagnostiqueur professionnel certifié.</li>
              <li><i class="bi bi-check"></i>Inspection des parties communes et analyse des factures d'énergie.</li>
              <li><i class="bi bi-check"></i>Rapport détaillé remis aux copropriétaires avec un plan d'action personnalisé.</li>
            </ul>

            <h3>Engagez-vous dans l'amélioration énergétique</h3>
            <ul>
              <li><i class="bi bi-check"></i>Découvrez comment réduire les coûts énergétiques et améliorer le confort de votre copropriété.</li>
              <li><i class="bi bi-check"></i>Prenez part à la transition énergétique en optimisant la performance énergétique de votre bâtiment.</li>
            </ul>
            
            <p>Pour planifier votre DPE Collectif ou en savoir plus, contactez-nous.</p>
            
          </div>
          <div class="col-lg-4 order-1 order-lg-2 text-center my-4 d-flex align-items-center " data-aos="fade-up">
              <img src="{% static 'img/presta/dpe.webp' %}" alt="" class="img-fluid mx-auto rounded-3 shadow" style="max-height: 100%;">
          </div>
        </div>
      </div>
      <!-- Vous pouvez répéter la structure ci-dessus pour d'autres contenus ou services si nécessaire -->
    </div>
  </section><!-- End Features Section -->
  {% endblock content %}
  